*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
}

.border{
    border: dashed 2px #000000;
}

/* header */

header{
    background-color: #ADD8E6;
}

.row-header{
    height: 50px;
    width: calc(100%);
    align-items: center;
    display: flex;
    justify-content: space-between; 
}

.col-60{
    height: 30px;
    width: 60%;
    padding-top: 5px;
    text-align: center;
    background-color: #DAA520;
}

.col-20{
    height: 30px;
    width: 20%;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #DAA520;
}

.align-right{
    height: 30px;
    padding-right: 5px;
    text-align: right;
    background-color: #DAA520;
   
}

/* fine header */

/* main */

.blue-jumbotron{
    background-color: #00008B;
}

.blue-row{
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pink-col{
    height: 80%;
    width: 50%;
    background-color: #EE82EE;
}

.row{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-70{
    height: 350px;
    width: calc(70% - 50px);
    margin-left: 50px;
    background-color: #1E90FF;
}

.col-30{
    height: 350px;
    width: calc(30% - 50px);
    margin-right: 50px;
    background-color: #FFC0CB;
}

.grey-jumbotron{
    width: 100%;
    margin-top: 40px;
    background-color: #D3D3D3;
}

.reverse-col-70{
    height: 350px;
    width: calc(70% - 50px);
    margin: 30px 0px;
    margin-right: 50px;
    background-color: #1E90FF;
}

.reverse-col-30{
    height: 350px;
    width: calc(30% - 50px);
    margin: 30px 0px;
    margin-left: 50px;
    background-color: #FFC0CB;
}

.green-col{
    height: 700px;
    width: calc(100% - 50px);
    margin: 40px 50px;
    background-color: #228B22;
}

.black-jumbotron{
    width: 100%;
    background-color: #23272A;
}

.black-row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pa-col-70{
    height: 500px;
    width: calc(70% - 50px);
    margin: 10px 0px 30px 0px;
    margin-right: 50px;
    display: flex;
    background-color: #20B2AA;
}

.pa-col-30{
    height: 500px;
    width: calc(30% - 50px);
    margin: 10px 0px 30px 0px;
    margin-left: 50px;
    background-color: #F08080;
}

.col-25{
    height: 100%;
    width: calc(100% / 4);
    border: dashed 2px #FFFFFF;
}

/* fine main */

/* footer */

hr{
    border: solid 2px #B4B3B3;
}

.f-row{
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.f-col{
    height: 70px;
    width: calc(100% - 50px);
    margin: 0px 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
}

.content{
    font-size: 130%;
    background-color: #FFB6C1;
    padding: 5px 5px 5px 5px;
}

#logo{
    height: 30px;
    width: 60px;
    text-align: center;
}

#button{
    height: 35px;
    width: 80px;
    text-align: center;
}

/* fine footer */